@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* project colors */
    --color-background: #F7F6F4; 
    --color-primary: #D84727;
    --color-primary-alt: #DA5E42;
    --color-secondary: #F1DDC9; 
  
    /* text colors */
    --color-text-dark: #333333;
    --color-text-muted: #777777;
    --color-text-light: #999999;
    --color-text-medium: #555555;
    --color-text-white: #FFFFFF;
  }

  body {
    background-color: var(--color-background);
  }